.lottery a {
  color: #000;
}
.lottery a:hover {
  color: #c00 !important;
}
.nav-link {
  text-align: center;
}
.column {
  width: 9%;
  display: inline-block;
}
.column-two {
  width: 10%;
  display: inline-block;
}
.column-20 {
  width: 18.6%;
  display: inline-block;
}
.btn-first {
  color: inherit !important;
  background-color: #fff !important;
  border: 1px solid #e7eaec !important;
  width: 100% !important;
  padding: 10px 0 !important;
  border-radius: 4px !important;
}
.btn-first.active {
  background-color: #c00 !important;
  color: #FFF !important;
}
.btn-first-two {
  color: inherit !important;
  background-color: #fff !important;
  border: 1px solid #e7eaec !important;
  width: 100% !important;
  padding: 10px 0 !important;
  border-radius: 4px !important;
}
.btn-first-two.active {
  background-color: #c00 !important;
  color: #FFF !important;
}
.btn-first-run {
  color: inherit !important;
  background-color: #fff !important;
  border: 1px solid #e7eaec !important;
  width: 100% !important;
  padding: 10px 0 !important;
  border-radius: 4px !important;
}
.btn-first-run.active {
  background-color: #c00 !important;
  color: #FFF !important;
}
.btn-main {
  color: inherit !important;
  background-color: #fff !important;
  border: 1px solid #e7eaec !important;
  width: 90% !important;
  padding: 10px 0 !important;
  border-radius: 4px !important;
  display: inline-block;
}
.btn-main.active {
  background-color: #c00 !important;
  color: #FFF !important;
}
.nav-item.three {
  width: 9.6%;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #c00 !important;
  background-color: #fff !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}
.nav-tabs .nav-link {
  border-radius: 0 !important;
}
/* .backdrop-number {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
} */
.input-group {
  margin-bottom: 10px;
}
.btn-number {
  border: 1px solid #ced4da;
  border-right: unset;
  background-color: #fff;
  padding: 0 10px;
}
.btn-sum {
  border: 1px solid #ced4da;
  background-color: #fff;
  padding: 0 10px;
  border-left: unset;
}
.btn-del {
  border: 1px solid #c21414;
  background-color: #c21414;
  padding: 0 10px;
}
.btn-del i {
  color: #FFF;
}
.p-show {
  margin-top: 1rem;
  margin-bottom: 0;
}