.lottery a {
  color: #000;
}
.lottery a:hover {
  color: #c00 !important;
}
.nav-link {
  text-align: center;
}
.column {
  width: 9%;
  display: inline-block;
}
.column-two {
  width: 10%;
  display: inline-block;
}
.column-20 {
  width: 18.6%;
  display: inline-block;
}
.btn-first {
  color: inherit !important;
  background-color: #fff !important;
  border: 1px solid #e7eaec !important;
  width: 100% !important;
  padding: 10px 0 !important;
  border-radius: 4px !important;
}
.btn-first.active {
  background-color: #c00 !important;
  color: #FFF !important;
}
.btn-first-two {
  color: inherit !important;
  background-color: #fff !important;
  border: 1px solid #e7eaec !important;
  width: 100% !important;
  padding: 10px 0 !important;
  border-radius: 4px !important;
}
.btn-first-two.active {
  background-color: #c00 !important;
  color: #FFF !important;
}
.btn-first-run {
  color: inherit !important;
  background-color: #fff !important;
  border: 1px solid #e7eaec !important;
  width: 100% !important;
  padding: 10px 0 !important;
  border-radius: 4px !important;
}
.btn-first-run.active {
  background-color: #c00 !important;
  color: #FFF !important;
}
.btn-main {
  color: inherit !important;
  background-color: #fff !important;
  border: 1px solid #e7eaec !important;
  width: 90% !important;
  padding: 10px 0 !important;
  border-radius: 4px !important;
  display: inline-block;
}
.btn-main.active {
  background-color: #c00 !important;
  color: #FFF !important;
}
.nav-item.three {
  width: 9.6%;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #c00 !important;
  background-color: #fff !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}
.nav-tabs .nav-link {
  border-radius: 0 !important;
}
.show-number-three,.show-number-two,.show-number-run {
  position: relative;
}
.backdrop-number1,.backdrop-number2,.backdrop-number3 {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}

.input-group {
  margin-bottom: 10px;
}
.btn-number {
  border: 1px solid #ced4da;
  border-right: unset;
  background-color: #fff;
  padding: 0 10px;
  width: 48px;
}
.btn-sum {
  border: 1px solid #ced4da;
  background-color: #fff;
  padding: 0 10px;
  border-left: unset;
}
.btn-del {
  border: 1px solid #c21414;
  background-color: #c21414;
  padding: 0 10px;
}
.btn-del i {
  color: #FFF;
}
.p-show {
  margin-top: 1rem;
  margin-bottom: 0;
}
.p-show.new-class {
  font-weight: 700;
}
.alert {
  margin-bottom: 0 !important;
}
.btn-submit-form {
  text-align: center;
}
.btn-save {
  color: inherit !important;
  background-color: #c00 !important;
  border: 1px solid #c00 !important;
  width: 40% !important;
  padding: 10px 0 !important;
  border-radius: 4px !important;
  color: #fff !important;
  margin: 0 10px !important;
}
.btn-reset {
  color: inherit !important;
  background-color: #fff !important;
  border: 1px solid #000 !important;
  width: 40% !important;
  padding: 10px 0 !important;
  border-radius: 4px !important;
  color: #000 !important;
  margin: 0 10px !important;
}


.switch {
  position: relative;
  display: inline-block;
  width: 69px !important;
  height: 30px !important;
  margin-bottom: 0 !important;
}


.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  /* -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px); */
  transform: translateX(39px);
}


/*------ ADDED CSS ---------*/
.slider:after
{
 content:'ปิด';
 color: white;
 display: block;
 position: absolute;
 /* transform: translate(-50%); */
 top: 3.5px;
 right: 7px;
 left: auto;
 font-size: 15px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  top: 3.5px;
  left: 7px;
  right: auto;
  content:'เปิด';

}

.col-sm .btn-close {
  background-color: #bf3436 !important;
  color: #FFF !important;
}
.col-sm .btn-open {
  background-color: rgb(11,188,1) !important;
  color: #FFF !important;
}
.start-container {
    margin-top: 64px
}
.end-container {
    margin-top: 100px
}
nav.navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9999;
}
footer.page-footer {
   position: fixed !important;
   bottom: 0;
   width: 100%;
   z-index: 9999; 
}
